@use "../../sass/base/variables.scss" as *;

.blocks {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

@media (min-width: 1200px) {
  .blocks {
    grid-template-columns: 270px 1fr;
    gap: 10px;
    margin-top: 50px;
  }
}
