.sidepanel {
  display: none;
}
@media (min-width: 1440px) {
  .sidepanel {
    align-items: center;
    display: flex;
    column-gap: 15px;
    rotate: (270deg);
    position: fixed;
    top: 320px;
    left: -80px;
    z-index: 3;
    .links {
      margin-bottom: 8px;
    }

    .devider {
      width: 70px;
      height: 0;
      border: 2px solid rgb(0, 0, 0);
    }

    .text {
      color: rgb(0, 0, 0);
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
    }
  }
}
